<aside class="sidebar">

    <ul class="nav-links">
        <li class="nav-item">
            <a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" class="nav-link">
                <i class="fa-solid fa-grid-2"></i> Dashboard
            </a>
        </li>

        <li class="nav-item">
            <a routerLink="/create-project" routerLinkActive="active" class="nav-link">
                <i class="fa-solid fa-plus-circle"></i> Create Project
            </a>
        </li>
        <li class="nav-item">
            <a routerLink="/project-list" routerLinkActive="active" class="nav-link">
                <i class="fa-solid fa-list"></i> Project List
            </a>
        </li>
        <li class="nav-item">
            <a routerLink="/my-task" routerLinkActive="active" class="nav-link">
                <i class="fa-solid fa-list-check"></i> My Tasks
            </a>
        </li>

        <li class="nav-item">
            <a routerLink="/team-management" routerLinkActive="active" class="nav-link">
                <i class="fa-solid fa-users"></i> Team Management
            </a>
        </li>
        <li class="nav-item">
            <a routerLink="/report" routerLinkActive="active" class="nav-link">
                <i class="fa-solid fa-chart-bar"></i> Reports
            </a>
        </li>
    </ul>
    
</aside>